.button {
    min-width: 70px;
    min-height: 30px;
    color: white;
    border: 1px solid white;

    border-radius: 5px;
    background: #5c5c5c;
    box-shadow: 7px 7px 14px #252525,
    -7px -7px 14px #939393;
}

.button:hover {
    color: yellow;
    border-color: yellow;
    cursor: pointer;
}

.button:active {
    background: #5c5c5c;
    box-shadow: inset 7px 7px 14px #252525,
    inset -7px -7px 14px #939393;
    transform: translateY(1px) translateX(2px);
}

.disable {
    transition: all 0.6s;
    transform: translateY(1px) translateX(2px);
    box-shadow: none;
    opacity: 50%;
}
.disable:hover {
    color: white;
    border-color: white;
    box-shadow: none;
    opacity: 50%;
}
.disable:active {
    transform: none;
}
