.board {
    margin: 40px auto;
    width: 300px;
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px;
    color: white;
}

.redBoard {
    margin: 40px auto;
    width: 300px;
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 10px 10px 10px;
    color: red;
}

.text {
    font-size: 45px;
    text-align: center;
    margin: 10px auto;
}
