.Set {
    width: 370px;

    margin: 50px auto;
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 37px 37px 74px #252525,
    -37px -37px 74px #939393;
}

.maxBlock {
    width: 300px;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin: 40px auto;
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 15px 15px 30px #252525,
    -15px -15px 30px #939393;
}

.maxTitle {
    font-weight: bold;
    width: 80px;
}

.minBlock {
    width: 300px;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin: 40px auto;
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 15px 15px 30px #252525,
    -15px -15px 30px #939393;
}

.minTitle {
    font-weight: bold;
    width: 80px;
}

.buttonBlock {
    margin: 40px auto;
    text-align: center;
}

.errorMessage {
    color: red;
}
