
.App {

  width: 370px;

  margin: 50px auto;
  border: 2px solid white;
  border-radius: 25px;
  box-shadow:  37px 37px 74px #252525,
  -37px -37px 74px #939393;
}

.buttons {
  width: 300px;
  height: 70px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 40px auto;
  border: 2px solid white;
  border-radius: 25px;
  box-shadow:  15px 15px 30px #252525,
  -15px -15px 30px #939393;
}